Part 2: Mortality Rate vs World Happiness Level

For this section of the project, we will be comparing the world mortality rates for all 7 continents to the world happiness levels to see if they correlate. Let's begin by loading the csv files.

In [ ]:
!pip install plotly
import pandas as pd
import plotly.graph_objects as go

world_happiness = pd.read_csv("world_happiness.csv")
life_expectancy = pd.read_csv("life_expectancy.csv")

world_happiness = world_happiness.drop(columns='Rank')
world_happiness.head()

Collecting plotly
  Downloading plotly-5.19.0-py3-none-any.whl.metadata (7.0 kB)
Collecting tenacity>=6.2.0 (from plotly)
  Downloading tenacity-8.2.3-py3-none-any.whl.metadata (1.0 kB)
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from plotly) (23.2)
Downloading plotly-5.19.0-py3-none-any.whl (15.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.7/15.7 MB 61.9 MB/s eta 0:00:00:00:0100:01
Downloading tenacity-8.2.3-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly

In [39]:
life_expectancy.head()

        Entity Code  Year  Period life expectancy at birth - Sex: all - Age: 0
0  Afghanistan  AFG  1950                                            27.7275
1  Afghanistan  AFG  1951                                            27.9634
2  Afghanistan  AFG  1952                                            28.4456
3  Afghanistan  AFG  1953                                            28.9304
4  Afghanistan  AFG  1954                                            29.2258

In [49]:
filtered_life_expectancy = life_expectancy.loc[life_expectancy['Year']>=2013]
filtered_life_expectancy = filtered_life_expectancy.drop(columns='Code')
filtered_life_expectancy.head()

         Entity  Year  Period life expectancy at birth - Sex: all - Age: 0
63  Afghanistan  2013                                            62.4167
64  Afghanistan  2014                                            62.5451
65  Afghanistan  2015                                            62.6587
66  Afghanistan  2016                                            63.1361
67  Afghanistan  2017                                            63.0160

In [50]:
merged_data = pd.merge(world_happiness, filtered_life_expectancy, left_on=['Country', 'Year'], right_on=['Entity','Year'])
merged_data = merged_data.drop(columns='Entity')
merged_data.head()

,Country,Year,Index,Period life expectancy at birth - Sex: all - Age: 0
0,Afghanistan,2013,4.040,62.4167
1,Afghanistan,2015,3.575,62.6587
2,Afghanistan,2016,3.360,63.1361
3,Afghanistan,2017,3.794,63.0160
4,Afghanistan,2018,3.632,63.0810

Convert the countries to continents for easier analysis. This code was done with the assistance of ChatGPT.

Prompt: how to convert countries into continents make a new column
Result: get_continent() function as shown below

In [54]:
!pip install pycountry-convert
import pycountry_convert as pc

def get_continent(country):
    try:
        country_code = pc.country_name_to_country_alpha2(country)
        continent_code = pc.country_alpha2_to_continent_code(country_code)
        continent_name = pc.convert_continent_code_to_continent_name(continent_code)
        return continent_name
    except KeyError:
        return None

merged_data['Continent'] = merged_data['Country'].apply(get_continent)
merged_data.head()

Collecting pycountry-convert
  Downloading pycountry_convert-0.7.2-py3-none-any.whl.metadata (7.2 kB)
Collecting pprintpp>=0.3.0 (from pycountry-convert)
  Downloading pprintpp-0.4.0-py2.py3-none-any.whl.metadata (7.9 kB)
Collecting pycountry>=16.11.27.1 (from pycountry-convert)
  Downloading pycountry-23.12.11-py3-none-any.whl.metadata (12 kB)
Collecting pytest>=3.4.0 (from pycountry-convert)
  Downloading pytest-8.0.2-py3-none-any.whl.metadata (7.7 kB)
Collecting pytest-mock>=1.6.3 (from pycountry-convert)
  Downloading pytest_mock-3.12.0-py3-none-any.whl.metadata (3.8 kB)
Collecting pytest-cov>=2.5.1 (from pycountry-convert)
  Downloading pytest_cov-4.1.0-py3-none-any.whl.metadata (26 kB)
Collecting repoze.lru>=0.7 (from pycountry-convert)
  Downloading repoze.lru-0.7-py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: wheel>=0.30.0 in /opt/conda/lib/python3.10/site-packages (from pycountry-convert) (0.42.0)
Collecting iniconfig (from pytest>=3.4.0->pycountry-convert)
  Downloading iniconfig-2.0.0-py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from pytest>=3.4.0->pycountry-convert) (23.2)
Requirement already satisfied: pluggy<2.0,>=1.3.0 in /opt/conda/lib/python3.10/site-packages (from pytest>=3.4.0->pycountry-convert) (1.3.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /opt/conda/lib/python3.10/site-packages (from pytest>=3.4.0->pycountry-convert) (1.2.0)
Requirement already satisfied: tomli>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from pytest>=3.4.0->pycountry-convert) (2.0.1)
Collecting coverage>=5.2.1 (from coverage[toml]>=5.2.1->pytest-cov>=2.5.1->pycountry-convert)
  Downloading coverage-7.4.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (8.2 kB)
Downloading pycountry_convert-0.7.2-py3-none-any.whl (13 kB)
Downloading pprintpp-0.4.0-py2.py3-none-any.whl (16 kB)
Downloading pycountry-23.12.11-py3-none-any.whl (6.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.2/6.2 MB 60.5 MB/s eta 0:00:00a 0:00:01
Downloading pytest-8.0.2-py3-none-any.whl (333 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 334.0/334.0 kB 26.3 MB/s eta 0:00:00
Downloading pytest_cov-4.1.0-py3-none-any.whl (21 kB)
Downloading pytest_mock-3.12.0-py3-none-any.whl (9.8 kB)
Downloading repoze.lru-0.7-py3-none-any.whl (10 kB)
Downloading coverage-7.4.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (234 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 234.1/234.1 kB 25.0 MB/s eta 0:00:00
Using cached iniconfig-2.0.0-py3-none-any.whl (5.9 kB)
Installing collected packages: repoze.lru, pprintpp, pycountry, iniconfig, coverage, pytest, pytest-mock, pytest-cov, pycountry-convert
Successfully installed coverage-7.4.3 iniconfig-2.0.0 pprintpp-0.4.0 pycountry-23.12.11 pycountry-convert-0.7.2 pytest-8.0.2 pytest-cov-4.1.0 pytest-mock-3.12.0 repoze.lru-0.7

/opt/conda/lib/python3.10/site-packages/pycountry/db.py:51: UserWarning: Country's official_name not found. Country name provided instead.
  warnings.warn(warning_message, UserWarning)
/opt/conda/lib/python3.10/site-packages/pycountry/db.py:51: UserWarning: Country's common_name not found. Country name provided instead.
  warnings.warn(warning_message, UserWarning)

,Country,Year,Index,Period life expectancy at birth - Sex: all - Age: 0,Continent
0,Afghanistan,2013,4.040,62.4167,Asia
1,Afghanistan,2015,3.575,62.6587,Asia
2,Afghanistan,2016,3.360,63.1361,Asia
3,Afghanistan,2017,3.794,63.0160,Asia
4,Afghanistan,2018,3.632,63.0810,Asia