# Part 2: Life Expectancy vs World Happiness Level

## Load in Data
For this section of the project, we will be comparing the world life expectancy rates for all 7 continents to the world happiness levels to see if they correlate. Let's begin by loading the csv files.

In [1]:
!pip install pandas
!pip install plotly
!pip install -q folium mapclassify
!pip install pycountry-convert
%matplotlib inline

import geopandas as gpd
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import pycountry_convert as pc

# read csvs for world happiness and life expectancy
world_happiness = pd.read_csv("world_happiness.csv")
life_expectancy = pd.read_csv("life_expectancy.csv")

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Collecting plotly
  Using cached plotly-5.19.0-py3-none-any.whl.metadata (7.0 kB)
Collecting tenacity>=6.2.0 (from plotly)
  Using cached tenacity-8.2.3-py3-none-any.whl.metadata (1.0 kB)
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from plotly) (23.2)
Using cached plotly-5.19.0-py3-none-any.whl (15.7 MB)
Using cached tenacity-8.2.3-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.19.0 tenacity-8.2.3
Collecting pycountry-convert
  Using cached pycountry_convert-0.7.2-py3-none-any.whl.metadata (7.2 kB)
Collecting pprintpp>=0.3.0 (from pycountry-convert)
  Using cached pprintpp-0.4.0-py2.py3-none-any.whl.metadata (7.9 kB)
Collecting pycountry>=16.11.27.1 (from pycountry-convert)
  Using cached pycountry-23.12.11-py3-none-any.whl.metadata (12 kB)
Collecting pytest>=3.4.0 (from pycountry-convert)
  Using cached pytest-8.1.1-py3-none-any.whl.metadata (7.6 kB)
Collecting pytest-mock>=1.6.3 (from pycountry-convert)
  Using cached pytest_mock-3.12.0-py3-none-any.whl.metadata (3.8 kB)
Collecting pytest-cov>=2.5.1 (from pycountry-convert)
  Using cached pytest_cov-4.1.0-py3-none-any.whl.metadata (26 kB)
Collecting repoze.lru>=0.7 (from pycountry-convert)
  Using cached repoze.lru-0.7-py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: wheel>=0.30.0 in /opt/conda/lib/python3.10/site-packages (from pycountry-convert) (0.42.0)
Collecting iniconfig (from pytest>=3.4.0->pycountry-convert)
  Using cached iniconfig-2.0.0-py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from pytest>=3.4.0->pycountry-convert) (23.2)
Collecting pluggy<2.0,>=1.4 (from pytest>=3.4.0->pycountry-convert)
  Using cached pluggy-1.4.0-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /opt/conda/lib/python3.10/site-packages (from pytest>=3.4.0->pycountry-convert) (1.2.0)
Requirement already satisfied: tomli>=1 in /opt/conda/lib/python3.10/site-packages (from pytest>=3.4.0->pycountry-convert) (2.0.1)
Collecting coverage>=5.2.1 (from coverage[toml]>=5.2.1->pytest-cov>=2.5.1->pycountry-convert)
  Using cached coverage-7.4.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (8.2 kB)
Using cached pycountry_convert-0.7.2-py3-none-any.whl (13 kB)
Using cached pprintpp-0.4.0-py2.py3-none-any.whl (16 kB)
Using cached pycountry-23.12.11-py3-none-any.whl (6.2 MB)
Using cached pytest-8.1.1-py3-none-any.whl (337 kB)
Using cached pytest_cov-4.1.0-py3-none-any.whl (21 kB)
Using cached pytest_mock-3.12.0-py3-none-any.whl (9.8 kB)
Using cached repoze.lru-0.7-py3-none-any.whl (10 kB)
Using cached coverage-7.4.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (234 kB)
Using cached pluggy-1.4.0-py3-none-any.whl (20 kB)
Using cached iniconfig-2.0.0-py3-none-any.whl (5.9 kB)
Installing collected packages: repoze.lru, pprintpp, pycountry, pluggy, iniconfig, coverage, pytest, pytest-mock, pytest-cov, pycountry-convert
  Attempting uninstall: pluggy
    Found existing installation: pluggy 1.3.0
    Uninstalling pluggy-1.3.0:
      Successfully uninstalled pluggy-1.3.0
Successfully installed coverage-7.4.3 iniconfig-2.0.0 pluggy-1.4.0 pprintpp-0.4.0 pycountry-23.12.11 pycountry-convert-0.7.2 pytest-8.1.1 pytest-cov-4.1.0 pytest-mock-3.12.0 repoze.lru-0.7

Great! Now let's display the world happiness and life expectancy datasets to see what we need to fix.

In [2]:
# drop the Rank column as it is not needed for analysis
world_happiness = world_happiness.drop(columns='Rank')

# show dataframe
world_happiness.head()

       Country  Year  Index
0  Afghanistan  2013  4.040
1  Afghanistan  2015  3.575
2  Afghanistan  2016  3.360
3  Afghanistan  2017  3.794
4  Afghanistan  2018  3.632

In [3]:
life_expectancy.head()

        Entity Code  Year  Period life expectancy at birth - Sex: all - Age: 0
0  Afghanistan  AFG  1950                                            27.7275
1  Afghanistan  AFG  1951                                            27.9634
2  Afghanistan  AFG  1952                                            28.4456
3  Afghanistan  AFG  1953                                            28.9304
4  Afghanistan  AFG  1954                                            29.2258

It appears we need to drop the "Code" and "Rank" columns. Then, we will filter our data to only include data from years 2013 and beyond (the dataset stops at 2021).

In [4]:
# filter the life expectancy data for only years 2013 and beyond
filtered_life_expectancy = life_expectancy.loc[life_expectancy['Year']>=2013]

# drop code column as it is not needed
filtered_life_expectancy = filtered_life_expectancy.drop(columns='Code')
filtered_life_expectancy.head()

         Entity  Year  Period life expectancy at birth - Sex: all - Age: 0
63  Afghanistan  2013                                            62.4167
64  Afghanistan  2014                                            62.5451
65  Afghanistan  2015                                            62.6587
66  Afghanistan  2016                                            63.1361
67  Afghanistan  2017                                            63.0160

## Merge Life Expectancy and World Happiness Datasets

Now that all our data is cleaned up, let's merge the two datasets together. We will use the pandas .merge() function to combine the datasets. They will be merged on Country and Year to ensure the life expectancies line up with the country for a given year.

In [5]:
# merge both datasets
merged_data = pd.merge(world_happiness, filtered_life_expectancy, left_on=['Country', 'Year'], right_on=['Entity','Year'])

# drop entity column as we have country
merged_data = merged_data.drop(columns='Entity')
merged_data.head()

,Country,Year,Index,Period life expectancy at birth - Sex: all - Age: 0
0,Afghanistan,2013,4.040,62.4167
1,Afghanistan,2015,3.575,62.6587
2,Afghanistan,2016,3.360,63.1361
3,Afghanistan,2017,3.794,63.0160
4,Afghanistan,2018,3.632,63.0810

Convert the countries to continents for easier analysis. This code was done with assistance from this thread: https://stackoverflow.com/questions/55910004/get-continent-name-from-country-using-pycountry.

The country_to_continent function below originally didn't recognize Kosovo which was in the csv. To account for this error, if the country was Kosovo, we returned Europe for it.

After creating the function, we will use this on our merged data using .apply() to create a new column with the Continent name for the Country.

In [6]:
# converts countries to their continent
def country_to_continent(country):
    if country == "Kosovo":
        return "Europe"
    country_code = pc.country_name_to_country_alpha2(country)
    if country_code is not None:
        continent_code = pc.country_alpha2_to_continent_code(country_code)
        if continent_code is not None:
            continent_name = pc.convert_continent_code_to_continent_name(continent_code)
            return continent_name
    else:
        return None
    
# use this on merged dataset
merged_data['Continent'] = merged_data['Country'].apply(country_to_continent)
merged_data.head()

/opt/conda/lib/python3.10/site-packages/pycountry/db.py:51: UserWarning: Country's official_name not found. Country name provided instead.
  warnings.warn(warning_message, UserWarning)
/opt/conda/lib/python3.10/site-packages/pycountry/db.py:51: UserWarning: Country's common_name not found. Country name provided instead.
  warnings.warn(warning_message, UserWarning)

,Country,Year,Index,Period life expectancy at birth - Sex: all - Age: 0,Continent
0,Afghanistan,2013,4.040,62.4167,Asia
1,Afghanistan,2015,3.575,62.6587,Asia
2,Afghanistan,2016,3.360,63.1361,Asia
3,Afghanistan,2017,3.794,63.0160,Asia
4,Afghanistan,2018,3.632,63.0810,Asia

## Testing

We checked for accuracy using the assertion tests - if the tests passed, there should be no error returned. These assertions for determining continent are based off the geographical locations of each country.

In [7]:
# assertion tests
assert country_to_continent("Germany") == "Europe"
assert country_to_continent("United States") == "North America"
assert country_to_continent("Kosovo") == "Europe"
assert country_to_continent("Brazil") == "South America"
assert country_to_continent("Australia") == "Oceania"
assert country_to_continent("Afghanistan") == "Asia"

## Creating the World Happiness vs. Life Expectancy Visualizations

Now we will average the life expectancies for a single year for each continent. Because there were multiple years values in our merged_data dataframe, we need to have data from years 2013 - 2021 for each Continent. Drop the Country column and group the data accordingly for life expectancies and world happiness indexes and use .mean() to find the average value for each item in a given year.

In [8]:
# average all life expectancies for a year for a continent
merged_data = merged_data.drop(columns='Country')
avg_life_exp = merged_data.groupby(['Continent', 'Year'])['Period life expectancy at birth - Sex: all - Age: 0'].mean()
avg_life_exp.head()

Continent  Year
Africa     2013    61.581927
           2015    62.482523
           2016    63.233467
           2017    63.035141
           2018    63.360751
Name: Period life expectancy at birth - Sex: all - Age: 0, dtype: float64

Repeat for the world happiness indexes.

In [9]:
# average all happiness indexes for a year for a continent
avg_happiness = merged_data.groupby(['Continent', 'Year'])['Index'].mean()
avg_happiness.head()

Continent  Year
Africa     2013    4.420450
           2015    4.283300
           2016    4.262333
           2017    4.238707
           2018    4.274561
Name: Index, dtype: float64

Now, we will merge the averaged world happiness index and life expectancies dataframes on Continent and Year to have their values next to each other for the visualizations that will follow. Reset the index to ensure the format of the table is accurate.

In [10]:
# merge two averaged datasets on continent and year
new_merged_data = pd.merge(avg_life_exp, avg_happiness, on=['Continent', 'Year'])

# reset index for proper formatting
new_merged_data = new_merged_data.reset_index()
#new_merged_data.to_csv('happiness_vs_life_expectancy.csv')

Using plot.ly, we are first going to graph the life expectancies for each continent for each year, 2013 - 2021. The x-axis will be the year, the y-axis will be the average life expectancy for that year, and the color will be the continent, so each continent's graphs will be combined to be shown on one graph for this initial viewing purpose. Show the plot by writing it to an html (.show() did not work in the Jupyter notebook).

In [11]:
# create visualization plotting year with life expectancy for all continents with plot.ly
fig_life = px.line(new_merged_data, x = 'Year' ,
              y = 'Period life expectancy at birth - Sex: all - Age: 0',
              color = 'Continent',
              title = 'Life Expectancy Trends for Each Continent from 2013 - 2021')

# show plot by writing it to html
fig_life.write_html('life_plot.html')

Repeat but replace the y variable will world happiness index now, as we want to see trends in index for each continent in order to compare life expectancy and world happiness index in the statistical analysis section that follows.

In [12]:
# plot year with happiness index for all continents
fig_life2 = px.line(new_merged_data, x = 'Year' ,
              y = 'Index',
              color = 'Continent',
              title = 'World Happiness Index Trends for Each Continent from 2013 - 2021')

fig_life2.write_html('life_plot2.html')

## Pearson Correlation Coefficient Statistical Analysis

In order to meet our challenge goal, we had one being testing for result validility. We chose to do this in the form of a correlation analysis.

Now let's analyze the relationship between world happiness index and life expectancy for a continent overall. We picked the Pearson correlation coefficient because this method can be used to determine the correlation between two different variables. A positive value means that the two variables either both increase or decrease while a negative value means one variable is decrease while another is increasing and vice versa. A stronger correlation, either positive or negative, will be closer to 1.

Begin the analysis for Africa. We will first sort the new_merged_data to get values only where Continent is equal to Africa, and then use .corr(method='pearson') to calculate the Pearson correlation coefficient between world happiness and life expectancy for Africa over all years 2013 - 2021.

In [13]:
# statistical analysis - pearson correlation coefficient for all continents

# africa
# filter new_merged_data with only rows where Continent is Africa
africa_life = new_merged_data[new_merged_data['Continent']=='Africa']

# drop columns Continent and Year for calculating pearson correlation coefficient and rename table
africa_corr = africa_life.drop(columns=['Continent','Year'])
africa_corr.corr(method='pearson')

,Period life expectancy at birth - Sex: all - Age: 0,Index
Period life expectancy at birth - Sex: all - Age: 0,1.000000,-0.185191
Index,-0.185191,1.000000

Repeat for Asia, Europe, North America, Oceania, and South America.

In [14]:
# asia
asia_life = new_merged_data[new_merged_data['Continent']=='Asia']
asia_corr = asia_life.drop(columns=['Continent','Year'])
asia_corr.corr(method='pearson')

,Period life expectancy at birth - Sex: all - Age: 0,Index
Period life expectancy at birth - Sex: all - Age: 0,1.000000,-0.644533
Index,-0.644533,1.000000

In [15]:
# europe
europe_life = new_merged_data[new_merged_data['Continent']=='Europe']
europe_corr = europe_life.drop(columns=['Continent','Year'])
europe_corr.corr(method='pearson')

,Period life expectancy at birth - Sex: all - Age: 0,Index
Period life expectancy at birth - Sex: all - Age: 0,1.000000,-0.176369
Index,-0.176369,1.000000

In [16]:
# north america
north_life = new_merged_data[new_merged_data['Continent']=='North America']
north_corr = north_life.drop(columns=['Continent','Year'])
north_corr.corr(method='pearson')

,Period life expectancy at birth - Sex: all - Age: 0,Index
Period life expectancy at birth - Sex: all - Age: 0,1.000000,-0.168439
Index,-0.168439,1.000000

In [17]:
# oceania
oceania_life = new_merged_data[new_merged_data['Continent']=='Oceania']
oceania_corr = oceania_life.drop(columns=['Continent','Year'])
oceania_corr.corr(method='pearson')

,Period life expectancy at birth - Sex: all - Age: 0,Index
Period life expectancy at birth - Sex: all - Age: 0,1.000000,-0.695444
Index,-0.695444,1.000000

In [18]:
# south america
south_life = new_merged_data[new_merged_data['Continent']=='South America']
south_corr = south_life.drop(columns=['Continent','Year'])
south_corr.corr(method='pearson')

,Period life expectancy at birth - Sex: all - Age: 0,Index
Period life expectancy at birth - Sex: all - Age: 0,1.000000,0.254417
Index,0.254417,1.000000

Plot one dataset to see the correlation visualized. Here we are plotting Oceania as it had the highest Pearson correlation coefficient of -0.69.

In [19]:
# plot one data set more closely to see pearson correlation coefficient
# this is life expectancy trends for the continent of oceania
fig_africa_life = px.line(oceania_life, x = 'Year' ,
              y = 'Period life expectancy at birth - Sex: all - Age: 0',
              color = 'Continent',
              title = 'Life Expectancy Trends for Africa from 2013 - 2021')

fig_africa_life.write_html('africa_life_plot.html')

In [20]:
# plot one data set more closely to see pearson correlation coefficient
# this is world happiness index trends for the continent of oceania
fig_africa_life2 = px.line(oceania_life, x = 'Year' ,
              y = 'Index',
              color = 'Continent',
              title = 'World Happiness Index Trends for Africa from 2013 - 2021')

fig_africa_life2.write_html('africa_life_plot2.html')

## Result

The research question for this section was: *How is life expectancy correlated with the world happiness level for all 7 
continents from 2013 - 2021?*

The main finding was that Oceania and Asia had strong negative correlations between world happiness index and life expectancy over 2013 - 2021. This means that as world happiness index increased, the life expectancy rate decreased and vice versa. This is an interesting finding, because world happiness index is calculated from a lot of variables, such as GDP, social support, freedom to make life choices, etc., so it would make more sense for a greater happiness index to indicate a longer lifespan as it means less stress on life. However, life expectancy is taken into account in the World Happiness Index dataset, so that could explain why the results turned out this way.

It was surprising the other continents did not have nearly as strong correlations, and it was interesting how majority of the correlations were negative. This likely shows that if there's any relationship between world happiness index and death rate, it is likely to be inversed.

## Impact and Limitations

The main limitation is that this dataset is too general because it combines all countries into their respective continents. Some continents, such as Europe and Asia have a multitude of countries that are culturally different from each other, so by analyzing the correlations within continents, it really generalizes the results and affect the accuracy for all countries in a given continent. This result should mainly be viewed as overarching trends within a decade. Also, life expectancy is taken into account in the World Happiness Index dataset, so that could explain why the results turned out this way. The potential implication of these results is that this data may be harmful for people from Oceania and Asia because of the strong negative Pearson correlation coefficient between happiness index and life expectancy, as a shorter lifespan despite increased world happiness could be viewed as negative in some contexts. More statistical analysis should be done to determine the accuracy of these claims, and this data should preferrably be used to guide policymakers and government rather be shown to the public, as it can allow them to determine how to focus on Oceania and Asia's results in order increase the overall quality of life for people living in those two continents.

## Plan Evaluation for Part 2

This section was predicted to take 4 days and it was accurate. The main issue we came across is that sometimes the code produced errors which we couldn't solve easily, so we had to troubleshoot, which took majority of our time.